header {
  background-color: rgb(138, 88, 76);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500;
}

nav,
a {
  display: inline-flex;
  float: inline-end;
  text-decoration: none;
  padding-right: 2vh;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

nav,
a:hover {
  display: inline-flex;
  float: inline-end;
  text-decoration: none;
  padding-right: 2vh;
  color: rgb(252, 229, 95);
  font-size: x-large;
}

.logo {
  align-content: center;
  padding-left: 5vh;
  padding-right: 20vh;
  height: 100px;
}

@media only screen and (max-width: 1366px) {
  header {
    background-color: rgb(138, 88, 76);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
  }

  nav,
  a {
    display: inline-flex;
    float: inline-end;
    text-decoration: none;
    padding-right: 2vh;
    color: rgb(255, 255, 255);
    font-size: x-large;
  }

  nav,
  a:hover {
    display: inline-flex;
    float: inline-end;
    text-decoration: none;
    padding-right: 2vh;
    color: rgb(252, 229, 95);
    font-size: x-large;
  }

.logo {
  align-content: center;
  padding-left: 2vh;
  padding-right: 2vh;
}
}

@media only screen and (max-width: 800px) {
  header {
    background-color: rgb(138, 88, 76);
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
  }

  nav,
  a {
    display: inline-flex;
    float: inline-end;
    justify-content: center;
    text-decoration: none;
    padding-right: 1.5vh;
    padding-left: 1.5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }

  nav,
  a:hover {
    display: inline-flex;
    float: inline-end;
    justify-content: center;
    text-decoration: none;
    padding-right: 1.5vh;
    padding-left: 1.5px;
    color: rgb(252, 229, 95);
    font-size: 12px;
  }

  .logo {
    height: 15%;
    width: 15%;
    padding-left: 1vh;
    padding-right: 1vh;
  }
}
