

.slip-container {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0px 0px 20px -3px;
  transition: 0.4s;
  /* animation:ease-in; */
  background-color: #77040422;
  border-radius: 7px;
}

/* .slip-container {
  display: flex;
  flex-direction: row;
} */

.slip-container:hover {
  transform: scale(1.005);
  box-shadow: 0px 20px 100px 10px;
}

.slip-image {
  object-fit: cover;
  overflow: hidden;
  width: 600px;
  height: 400px;
}

.slip-image:hover {
  /* transform: scale(1.05);
  transition: 2.5s; */
  /* animation:infinite; */
}

.slip-title {
  font-style:italic;
  font-weight: 400px;
}

.slip-content {
  margin: 35px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.slip-buttons button {
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-size:large;
  background-color: rgb(29, 9, 215);
}

/* .slip-buttons { 
  justify-content: left;
} */

/* .slip-button:hover {
  
} */

h5 {
  padding-bottom: 3%;
  font-size: 22px;
}

@media only screen and (max-width: 812px) {
  .slip-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0px 0px 20px -3px;
    transition: 0.4s;
    /* animation:ease-in; */
    background-color: #77040422;
    padding: 0;
    margin: 0;
  }
}
