@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&display=swap");

.App {
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: rgba(201, 178, 178, 0.42);
  font-size: 20px;
  padding-bottom: 15vh;
  padding-top: 10vh;
}

.page-header {
  text-align: center;
  margin-bottom: 1vh;
}

.slips-map {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: auto;
  grid-gap: 3rem;
  padding-top: 2vh;
  margin-left: 10%;
  margin-right: 10%;
}

.slip-form {
  display: block;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60vh;
  height: 70vh;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  height: 4vh;
  color: white;
  background-color: rgb(29, 9, 215);
}

.rules {
  margin-left: 5%;
  margin-right: 11%;
}

ul {
  font-size: large;
}

li {
  font-size: large;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-description {
  word-spacing: 7px;
  line-height: 3vh;
  padding-top: 7vh;
  padding-right: 5vh;
  padding-left: 5vh;
  padding-bottom: 50vh;
  font-size: 23px;
  text-align: center;
}

.about-image {
  height: 36vh;
  padding-top: 4vh;
  padding-right: 5vh;
  justify-content: center;
}

.unique-score-detail {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 2vh;
}

.scoring-categories {
  font-weight: bolder;
}

.creation-date {
  font-size: small;
}

.details-back-button {
  font-size: large;
  justify-content: left;
  width: 20vh;
  height: 7vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(138, 88, 76);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  margin-bottom: 7px;
  padding-top: 7px;
}

.daniel-ober {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: medium;
  padding-top: 10px;
}

@media only screen and (max-width: 1366px) {
  .App {
    font-size: 20px;
    padding-bottom: 15vh;
    padding-top: 10vh;
  }

  .page-header {
    text-align: center;
  }

  .slips-map {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: auto;
    grid-gap: 3rem;
    padding-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
  }

  .slip-form {
    width: 40vh;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 15%;
    margin-right: 15%;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    height: 4vh;
    color: white;
    background-color: rgb(29, 9, 215);
  }

  .rules {
    margin-left: 5%;
    margin-right: 11%;
  }

  ul {
    font-size: x-large;
  }

  li {
    font-size: x-large;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .about-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
  }

  .about-description {
    word-spacing: 7px;
    line-height: 3vh;
    padding-top: 2vh;
    padding-right: 5vh;
    padding-left: 5vh;
    padding-bottom: 5vh;
    font-size: 23px;
    text-align: center;
  }

  .about-image {
    height: 10%;
    padding-top: 1vh;
    padding-right: 5vh;
    justify-content: center;
  }

  .unique-score-detail {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 2vh;
  }
  
  .scoring-categories {
    font-weight: bolder;
  }
  
  .creation-date {
    font-size: small;
  }
  
  .details-back-button {
    font-size: large;
    width: 20vh;
    height: 7vh;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(138, 88, 76);
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-bottom: 0vh;
  }

  .daniel-ober {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
  }
}

@media only screen and (max-width: 812px) {
  .App {
    font-size: 20px;
    padding-bottom: 15vh;
    padding-top: 10vh;
  }

  .page-header {
    text-align: center;
    padding-top: 4vh;
    font-size: 31px;
  }

  .slips-map {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: auto;
    grid-gap: 3rem;
    padding-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slip-form {
    width: 35vh;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 0%;
    margin-right: 0%;
  }

  .slip-image {
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slip-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .rules {
    margin-left: 4%;
    margin-right: 10%;
  }

  ul {
    font-size: large;
  }

  li {
    font-size: large;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .about-description {
    padding-right: 0vh;
    padding-left: 0vh;
    font-size: 15px;
    text-align: center;
  }

  .about-image {
    width: 43vh;
    justify-content: center;
  }

  .unique-score-detail {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 2vh;
  }
  
  .scoring-categories {
    font-weight: bolder;
  }

  .score-breakdown-header {
    text-align: left;
    padding-top: 4vh;
    font-size: 31px;
  }
  
  .creation-date {
    font-size: small;
  }
  
  .details-back-button {
    justify-content: left;
    font-size: large;
    width: 20vh;
    height: 7vh;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(138, 88, 76);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }

  .social {
    display: flex;
    flex-direction: row;
    height: 35px;
    padding-left: 3vh;
  }
}
