@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap");

.App {
  font-family: "Hanuman", serif;
  background-color: rgba(255, 255, 255, 0.296);
  font-size: 20px;
  padding-bottom: 15vh;
  padding-top: 10vh;
}

.page-header {
  text-align: center;
  margin-bottom: 1vh;
}

.slips-map {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: auto;
  grid-gap: 3rem;
  padding-top: 2vh;
  margin-left: 10%;
  margin-right: 10%;
}

.slip-form {
  display: block;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60vh;
  height: 70vh;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
  height: 4vh;
  color: white;
  background-color: rgb(29, 9, 215);
}

.rules {
  margin-left: 5%;
  margin-right: 11%;
}

.about {
  padding-right: 10vh;
  padding-left: 10vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(138, 88, 76);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  margin-bottom: 7px;
  padding-top: 7px;
}

.daniel-ober {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: medium;
  padding-top: 10px;
}

@media only screen and (max-width: 1366px) {
  .App {
    font-family: "Hanuman", serif;
    background-color: rgba(158, 114, 76, 0.296);
    font-size: 20px;
    padding-bottom: 15vh;
    padding-top: 10vh;
  }

  .page-header {
    text-align: center;
  }

  .slips-map {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: auto;
    grid-gap: 3rem;
    padding-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slip-form {
    width: 40vh;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 15%;
    margin-right: 15%;
  }


  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    height: 4vh;
    color: white;
    background-color: rgb(29, 9, 215);
  }

  .rules {
    margin-left: 5%;
    margin-right: 11%;
  }

  ul {
    font-size: medium;
  }

  li {
    font-size: medium;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .about {
      padding-right: 15vh;
      padding-left: 15vh;
      font-size: small;
   }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(138, 88, 76);
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-bottom: 0vh;
  }

  .daniel-ober {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
  }
}

@media only screen and (max-width: 812px) {
  .App {
    font-family: "Hanuman", serif;
    background-color: rgba(158, 114, 76, 0.296);
    font-size: 20px;
    padding-bottom: 15vh;
    padding-top: 10vh;
  }

  .page-header {
    text-align: center;
  }

  .slips-map {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: auto;
    grid-gap: 3rem;
    padding-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .slip-form {
    width: 35vh;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 0%;
    margin-right: 0%;
  }

  .slip-image {
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slip-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .rules {
    margin-left: 5%;
    margin-right: 11%;
  }

  ul {
    font-size: medium;
  }

  li {
    font-size: medium;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .about {
      padding-right: 3vh;
      padding-left: 3vh;
      font-size:x-small;
   }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(138, 88, 76);
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-bottom: 0vh;
  }

  .daniel-ober {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
  }
}