@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap");

.App {
  font-family: "Hanuman", serif;
  font-size: 20px;
  padding-bottom: 15vh;
}

#logo-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav,
a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;
  padding-left: 3vh;
  padding-right: 3vh;
  justify-content: space-between;
}

.slip-container {
  display: flex;
  background-color: rgba(87, 0, 0, 0.205);
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.slip-image {
  height: 200px;
}

.slip-details {
  text-align: left;
  padding-left: 4vh;
}

.rules {
  margin-right: 10vh;
  margin-left: 10vh;
}

li {
  font-size: medium;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

h1 {
  display: flex;
  justify-content: center;
}

.score-slip {
  display: block;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60vh;
  height: 50vh;
}

/* select {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 40vh;
  padding: 7px;
  margin: 10px;
} */

.submit-slip {
  color: white;
  background-color: rgb(29, 9, 215);
}

.about {
  padding-right: 10vh;
  padding-left: 10vh;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(87, 0, 0);
  color: white;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  margin-bottom: 1vh;
  padding-top: 1vh;
}

.daniel-ober {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-small;
}

@media only screen and (max-width: 1366px) {
  .App {
    background-color: rgba(41, 79, 126, 0.111);
    position: relative;
    min-height: 100vh;
  }

  #logo-header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav,
  a {
    margin: 4px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    text-decoration: none;
    font-size: large;
    display: grid;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 10%;
    margin-right: 10%;
  }

  .slip-image {
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slip-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .rules {
    margin-left: 2%;
    margin-right: 11%;
  }

  ul {
    font-size: small;
  }

  li {
    font-size: small;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  input {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30vh;
    padding: 7px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  select {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 32.1vh;
    padding: 7px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    width: 32.1vh;
    height: 4vh;
    color: white;
    background-color: rgb(29, 9, 215);
  }

  .about {
    padding-right: 5vh;
    padding-left: 5vh;
    font-size: medium;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-bottom: 0vh;
  }

  .daniel-ober {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
  }
}

@media only screen and (max-width: 812px) {
  .App {
    background-color: rgba(255, 255, 255, 0.447);
    position: relative;
    min-height: 100vh;
  }

  #logo-header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav,
  a {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: medium;
  }

  .slip-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 119, 16, 0.132);
    margin-left: 10%;
    margin-right: 10%;
  }

  .slip-image {
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slip-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .rules {
    margin-left: 2%;
    margin-right: 11%;
  }

  ul {
    font-size: small;
  }

  li {
    font-size: small;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  input {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30vh;
    padding: 7px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  select {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 32.1vh;
    padding: 7px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    width: 32.1vh;
    height: 4vh;
    color: white;
    background-color: rgb(29, 9, 215);
  }

  .about {
    padding-right: 5vh;
    padding-left: 5vh;
    font-size: medium;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-bottom: 0vh;
  }

  .daniel-ober {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
  }
}
